<div class="apdf-contents-box am-cf">
    {{#set}}
        <div class="ajs-contents-thumb {{../contents.blockClass}}">
            <img src="{{src}}?{{../ampTemplates/thumb}}" title="{{trim src}}" alt="{{trim src}}">
            <div class="ajs-contents-paging {{../contents.pagingClass}}"></div>
        </div>
    {{/set}}
</div>
